.content-container {
  font-size: 20.4pt;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  padding: 30px;
  margin: 0;
  background-color: var(--background-color);
}

.title {
  margin: 10px 0px;
  font-size: 35pt;
  font-weight: 700;
  color: var(--text-color);
}

.text-inset {
  margin: 30px;
}

:host ::ng-deep li {
  list-style-position: inside !important;
  list-style-type: disc !important;
}

.job-infos hr {
  margin-top: 8px;
  height: 1px;
  background-color: #00458f;
  border: none;
  max-width: 450px;
}

.qr-code-float {
  float: right;
}

.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .details-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    .details-entry {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      gap: 16px;
      .icon-container {
        min-width: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
}
