@vesact:registry=https://pkgs.dev.azure.com/vesact/_packaging/vesact/npm/registry/
//pkgs.dev.azure.com/vesact/_packaging/vesact/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/vesact/_packaging/vesact/npm/registry/:_password=RElMcEpWTkhoNzJ3TVl2MW5YNXNJZjNKTnhGMTJNQXVudDlCSzFlV1J1R0ZWcERMb01LS0pRUUo5OUJHQUNBQUFBQUxrekJvQUFBU0FaRE8xTGpK
//pkgs.dev.azure.com/vesact/_packaging/vesact/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/vesact/_packaging/vesact/npm/registry/:always-auth=true