.idea-container {
  font-size: 20.4pt;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  padding: 30px;
  margin: 0;
  background-color: var(--background-color);
}

.title {
  margin: 10px 0px;
  font-size: 35pt;
  font-weight: 700;
  color: var(--text-color);
}

.content {
  margin: 0px;
  font-size: 25pt;
  margin-top: 15px;
  color: var(--text-color);
}

.rating {
  float: right;
}
