//***************************
//  TEMPLATE BASIC STYLING
//***************************
@import "../node_modules/@vesact/web-ui-template/lib/styles.scss";
@import "mixins";

//***************************
//  FIX POUR STYLES MANQUANTS
//***************************
// Import direct des fichiers scss du template
@import "../node_modules/@vesact/web-ui-template/lib/scss/theme.scss";

//***************************
//  FIX POUR ICONES BOUTONS MDC
//***************************
.mat-mdc-button .mat-icon, 
.mat-mdc-raised-button .mat-icon,
.mat-mdc-outlined-button .mat-icon,
.mat-mdc-unelevated-button .mat-icon {
  font-size: 21px !important;



  margin: 0 auto !important;
  text-align: center !important;
}

//***************************
//         THEMING
//***************************
@import "../node_modules/@vesact/web-ui-template/lib/default-theming.scss";
@import "../node_modules/@vesact/web-ui-template/lib/default-colors.scss";

.page-container {
  padding: 10px 40px;
  width: 100%;
  height: 100%;
}

//***************************
//     MARKDOWN EDITOR
//***************************
@import "../node_modules/@vesact/web-ui-template/lib/markdown-editor.scss";

.tui-editor-contents {
  i {
    font-size: 13px !important;
  }
}

.tui-editor-defaultUI-toolbar {
  padding: 0px 10px !important;
}
.te-ww-container .tui-editor-contents:first-child {
  padding: 16px 15px 0px 15px !important;
}

//***************************
//     LOADING SPINNER
//***************************

.fullPage-loadingSpinner-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #c4c4c48a;
  display: flex;
  align-items: center;
  justify-content: center;
}
