<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
     <add key="vesact" value="https://pkgs.dev.azure.com/vesact/_packaging/vesact/nuget/v3/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <vesact>
         <add key="Username" value="unused" />
         <add key="ClearTextPassword" value="%VESACT_NUGET_REGISTRY_ACCESS_TOKEN%" />
     </vesact>
 </packageSourceCredentials>
</configuration>