:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  font-size: 40px;
}
