@use "../../scss/abstract/_variables.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}

:host[banner-top] {
  flex-direction: column;
}

:host[banner-top] slide-banner {
  flex: 0 1 variables.$banner-top-size;
  height: variables.$banner-top-size;
}

:host:not([banner-top]) .banner-layout-content {
  flex: 1 0 calc(100% - variables.$banner-side-size);
  width: calc(100% - variables.$banner-side-size);
}

:host[banner-top] .banner-layout-content {
  flex: 1 0 calc(100% - variables.$banner-top-size);
  height: calc(100% - variables.$banner-top-size);
}
