.no-content {
  width: 100%;
  height: calc(92vh - 30%);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.text-content {
  font-size: 20.4pt;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  padding: 30px;
  margin: 0;
  background-color: var(--background-color);
}

.title {
  margin: 10px 0px;
  font-size: 35pt;
  font-weight: 700;
  color: var(--text-color);
}
.content {
  margin: 0px;
  font-size: 25pt;
  margin-top: 15px;
  color: var(--text-color);
}
